<app-loading *ngIf="isLoading"></app-loading>
<header>
    <div class="header intro-2">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <!-- <a class="navbar-brand" href=""><strong>S. Notaro</strong></a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
                <select class="selectpicker lang-select" data-width="fit" (change)="languageChange($event)">
                    <option class="lang-option" value="en">English</option>
                    <option class="lang-option" value="es">Español</option>
                </select>
            </div>
        </nav>
        <div class="full-bg-img">
            <div class="mask flex-center">
                <div class="container text-center white-text">
                    <div class="white-text text-center wow fadeInUp">
                        <h2>
                            Stefano Notaro <small>({{ getTranslation('mainLine') }})</small>
                        </h2>
                        <h5>{{ getTranslation('description') }}</h5>
                        <!-- <br />
            <p>Try to find new challanges to improve my skills</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>