<div class="header intro-2">
  <div class="full-bg-img">
    <div class="mask flex-center">
      <div class="container text-center white-text">
        <div class="white-text text-center wow fadeInUp">
          <h2>Stefano Notaro <small>(developer)</small></h2>
          <h5>Allways try to learn something new. There is nothing I don't want to learn.</h5>
          <!-- <br />
            <p>Try to find new challanges to improve my skills</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
