.lang-select {
    background: none;
    color: #fff;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    cursor: pointer;
    enable-background: accumulate;
}

select option {
    color: black;
    background-color: transparent;
}

.border-md-left {
    border-left: 1px solid silver;
}

.nav-menu-item {
    color: white;
}