---
---

@import '{{ site.theme }}';

.title-style {
    text-decoration: none;
    color: #fff;
}

.title-style:hover {
    text-decoration: none;
}
.cv_download_link {
    display: block;
    float: right;
    width: 90px;
    height: 70px;
    text-indent: -5000px;
    overflow: hidden;
    background: url(../images/CVImage.png) no-repeat bottom left;
    background-size: contain;
}
