/* You can add global styles to this file, and also import other style files */

html,
body {
    min-height: 100vh;
}

.header {
    /* padding: 50px; */
    padding-bottom: 50px;
    background-image: url('src\assets\images\header-image.png');
}

.main-body h1,
.main-body h2,
.main-body h3,
.main-body h4,
.main-body h5,
.main-body h6 {
    color: black;
}